.team-container {
  font-family: "Roboto", sans-serif;
  padding: 24px 0;
  max-width: 100%;
  margin: 0 ;
  background: #f5f5f5;
}



.team-container h2 {
  text-align: center;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 6px;
  
  color: #f1f1f1
  margin: 48px auto;
}

.team-container .ceo {
  text-align: center;
  padding: 8px;
}

.team-container .ceo img {
  width: 200px;
  height: 200px;
}

.team-container img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  box-shadow: 0 8px 29px -17px rgba(0, 0, 0, 0.4);
}

.team-member {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 16px;
}

.team-container .team-member-name {
  font-weight: bold;
  font-size: 22px;
  margin: 12px 0;
}

.team-container .ceo .team-member-name {
  font-size: 28px;
}

.core-team-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.team-container h3 {
  text-align: center;
  margin: 48px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 24px;
  text-transform: uppercase;
  font-weight: normal;
}
